.column-20
  .column-20-top
    h2 Calendar
    .imgs
    img(src='imgs/november-2023-calendar.avif', alt='Calendar Image' class="img")
  .column-20-bottom
    h2 Settings
    p Setting 01
    p Setting 02
    p Setting 03
    p Setting 04