.column-80
  .meal-preview
    h2(class= "meal-date") DATE
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2.meal-date DATE
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1    

  .bacon

  .meal-middle
    .current-meal
      h2.meal-date DATE
      h2 MEAL TYPE
      ul.ingredient-list
        li meal ingredients 1
    .new-meal-form 
      h2(class= "new-meal") New Meal
      form(action="/create-meal", method="POST", class= ".form") 
        .form-fields
          h3 Meal Type:
          select(name="mealType", id="mealType" class="form-select")
            each type in mealType
              option(value=type)= type
        .form-fields
          h3 Ingredients:
          select(name="ingredients", id="ingredient", class="form-select")
              each ingredient in ingredients
                option(value=ingredient.name)= ingredient.name
        // Add New Ingredient Option
        option(value="newIngredient") Add New Ingredient


        //- Submit button
        //- button(type="submit" class="btn btn-primary") Add Meal

  .cheese

  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1