/* 
Colors: 
#bc9168
rgb(255, 183, 76)
#da7314
rgba(117, 67, 21, 0.596);
#1E7E34


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000000;
  height: 100vh;
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #f1f1f1 #888; /* Set the scrollbar track and handle colors */
  overflow-y: scroll;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track styles */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle styles (the draggable part of the scrollbar) */
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* CONTAINERS */

.grid-container {
  display: grid;
  grid-template-columns: 18% 80%;
  gap: 2%;
  height: 100vh;
  margin: 0;
}

.column-20,
.column-80 {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

.column-20 {
  display: grid;
  grid-template-rows: 40% 55%;
  gap: 5%;
}

.column-20-top {
  /* width: 100%; */
}

.imgs {
}

.img {
  padding: 10px;
  width: 90%;
  height: 90%;
  border-radius: 4rem;
  /* overflow-x: hidden; */
}

.column-20-bottom {
  display: grid;
  grid-template-rows: 2.5fr 2fr 2fr 2fr 2fr 1fr;
  gap: 0.5rem;
}

/* Burger */
.column-80 {
  /* font-family: "Kalam"; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.05fr 2fr 0.05fr 1.5fr;
  gap: 0.4rem;
}

.meal-preview {
  padding: 3% 0 0 3%;
  /* margin: 0.2rem; */
  border: 2px solid #bc9168;
  /* border-radius: 20px 0 0 0; */
  background-color: rgba(188, 145, 104, 0.5);
  position: relative;
  overflow: hidden;
}

.bacon {
  grid-column: span 3;
  border-top: 1rem solid rgb(204, 51, 51);
  /* border-bottom: 0.6rem solid rgb(204, 51, 51); */
  /* border-top: 0.6rem solid rgb(212, 73, 8); */
  /* border-radius: 2px; */
}

.meal-middle {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 0.5rem;
  padding: 1%;
  grid-column: span 3;
  border: 2px solid #713700;
  background-color: rgba(117, 67, 21, 0.596);
  border-radius: 10px;
}

.current-meal {
  position: relative;
  border-right: 2px solid rgba(52, 29, 8, 0.596);
}

.current-meal .meal-date {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
}

.new-meal-form {
  padding-left: 1rem;
}

.new-meal {
  padding-bottom: 1rem;
}

.form h3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: ; */
}

.form-fields {
  font-size: 400;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  padding-bottom: 1rem;
}

.cheese {
  grid-column: span 3;
  border-top: 1rem solid rgb(255, 183, 76);
  /* border-bottom: 0.6rem solid rgb(255, 183, 76); */
  /* border-bottom: 10px solid rgb(23, 182, 57); */
}

.column-80 div:nth-child(1) {
  border-radius: 2.5rem 0 0 0;
}

.column-80 div:nth-child(3) {
  border-radius: 0 2.5rem 0 0;
}

.column-80 div:nth-child(7) {
  border-radius: 0 0 0 2.5rem;
}

.column-80 div:nth-child(9) {
  border-radius: 0 0 2.5rem 0;
}

/* .meal-preview:nth-last-child(-n + 3) {
  border: 2px solid #45ad87;
  background-color: #45ad8758;
} */

.meal-date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 1.7rem 0 0;
}

.ingredient-list {
  font-family: "Kalam";
  display: flex;
  flex-direction: row;
  /* padding: 0 0.4rem 0.6rem 0; */
  gap: 0.6rem;
  list-style: none;
}

/*TEST*/
/* CSS for the dropdown */
.form-select {
  width: fit-content; /* Adjust width as needed */
  height: fit-content;
  padding: 0.5rem;
  background-color: #ecd6c1;
  /* font-size: 16px; */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

/* Style when dropdown is active/open */
.form-select:focus {
  outline: none;
  border-color: #614c2e; /* Example color for focus state */
  box-shadow: 0 0 5px #3f301c; /* Example shadow for focus state */
  overflow: hidden;
}

/* Example button styles - Adjust as needed */
.btn {
  /* display: inline-block; */
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  /* font-size: 16px; */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #614c2e;
  border: 1px solid #614c2e;
}

.btn-primary:hover {
  background-color: #3f301c;
  border-color: #3f301c;
}
