* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000000;
  /* background-image: linear-gradient(to bottom, #45ad87af 0%, #ffffff 150%); */
  height: 100vh;
  /* background-image: linear-gradient(to bottom, #79caff 0%, #ffffff 150%); */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow-x: hidden; */
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 80%;
  gap: 2%;
  height: 100vh;
  margin: 0;
}

.column-20,
.column-80 {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

.column-20 {
  display: grid;
  grid-template-rows: 40% 55%;
  gap: 5%;
}

.column-20-top {

}

.img {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  overflow-x: hidden;
}

.column-20-bottom {
  display: grid;
  grid-template-rows: 3fr 2fr 2fr 2fr 2fr;
  gap: 0.5rem;
}

/* Burger */
.column-80 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 2fr 0.1fr 1fr;
  gap: 0.6rem;
}

.meal-preview {
  padding: 4% 0 0 4%;
  /* margin: 0.2rem; */
  border: 2px solid #bc9168;
  /* border-radius: 20px 0 0 0; */
  background-color: rgba(188, 145, 104, 0.5);
}

.meal-middle {
  grid-column: span 3;
  padding: 2% 2% 0 2%;
  border: 2px solid #da7314;
  background-color: rgba(117, 67, 21, 0.596);
  border-radius: 10px;
}

.bacon {
  grid-column: span 3;
  border-top: 0.6rem solid rgb(212, 73, 8);
  border-bottom: 0.6rem solid rgb(204, 51, 51);
  /* border-radius: 2px; */
}

.cheese {
  grid-column: span 3;
  border-top: 10px solid rgb(255, 183, 76);
  border-bottom: 10px solid rgb(255, 183, 76);
  /* border-bottom: 10px solid rgb(23, 182, 57); */
}

.column-80 div:nth-child(1) {
  border-radius: 4rem 0 0 0;
}

.column-80 div:nth-child(3) {
  border-radius: 0 4rem 0 0;
}

.column-80 div:nth-child(7) {
  border-radius: 0 0 0 4rem;
}

.column-80 div:nth-child(9) {
  border-radius: 0 0 4rem 0;
}

/* .meal-preview:nth-last-child(-n + 3) {
  border: 2px solid #45ad87;
  background-color: #45ad8758;
} */
